body {
			font-family: "Arial Rounded MT Bold", "Helvetica", "Cursive";
			background-color: #7289DA;
		}
		.text {
			margin-left: 25%;
			margin-right: 25%;
			background-color: #7c8fd0;
		}
		.title {
			font-size: 45;
		}
		.cookies-warning {
			font-size: 25;
		}
		.cookies-warning a {
			text-decoration: none;
			font-color: #ff0000; 
		}
		.launch-page {
			font-size: 27;
		}
		.launch-page a {
			text-decoration: none;
			font-color: #00ff00;
		}
